body{
    margin: auto;
    font-family: Helvetica, sans-serif;
}
#header{
    background-color: #f1f1f1;
    display: flex;
    padding: 10px;
}
#logo{
    width: 70px;
    height: 40;
    padding: 10px;
}
#options-header{
    display: flex;
    margin-top: 5px;
    gap: 20px;
    list-style: none;
}

#options-header > li:hover{
    color: rgb(250, 56, 75);
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    background-image: url(./img/fundo2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#content-text{
    text-align: center;
    color: #504f4f;
}

#content-text p{
    font-size: larger;
    font-weight: bold;
}

#list-tags{
    list-style:none;
    display: flex;
    gap:10px;
    padding: 0;
}

.tags{
    border:2px solid #f1f1f1;
    border-radius:3px;
    padding:5px;
    font-size: 13px;

    color: #717171;
    padding: 8px 12px;
}

.tags:hover{
    color: rgb(250, 56, 75);
}

#content-card{
    display: flex;
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 350px;
    height: 220px;

    border-radius:15px;
    gap:20px;
}

.business-options{
    font-size: x-large;
    font-weight: bold;
    color: white;
}

.btn-card{
    width: 100px;
    height: 40px;

    border-radius: 10px;
    border: 1px solid;

    font-weight: bold;
    font-size: small;

    background-color: white;
}

.bgR{
    background-color: rgb(250, 56, 75);
}
.bgG{
    background-color: rgb(174, 248, 100);
}

#table > table tr td{
    background: #f1f1f1;
    padding: 8px;
}

